*{
    box-sizing: border.box;
}
body table{
	width: 350px;
    background: white;
    border : solid 1px #999;
	margin: 100px auto;
	padding: 5px;
	border-radius: 5px;
    background-color: white;
}
button{
    padding: 20px 35px;
    border: solid 1px #999;
    border-radius: 5px;
    font-size: 20
    background-color: #fff;
}
.bagian1{
    text-align: center;
    background-color: white;
    padding: 5px;
}
.bilangan{
    height: 40px
    padding: 5px;
    border: solid 1px #999;
    border-radius: 5px;
}
.bagian2{
    text-align: center
    background-color: white;
    padding: 5px;
}
.hasil{
    border: solid 1px #999;
    border-radius: 5px;
    padding: 20px;
}
.tombolCLEAR {
    border: solid 1px #999;
    border-radius: 5px;
    padding: 20px 35px;
    background-color: skyblue;
}
.bagian3{
    text-align: center;
    margin-bottom: 15px;
    
}
.sama{
    padding: 20px;
    border: double;
}